.app-clientproduct {

	.pp {
		background-color: transparent !important;
		border-style: none !important;
		padding: 0 !important;
	}

	.ppButton {
		width:144px!important; 
		height:47px!important;
		background-image: url('https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif') !important;
	}
}