.title {
	font 	: {
		size 	: 22px;
		weight 	: bold;
	}
}

.subtitle {
	font 	: {
		size 	: 16;
		weight 	: bold;
	}
}

.thumb-price {
	text-align 	: center;
	color 		: red;
	font-weight : bold;
	font-size 	: 16px;
	padding-bottom: 10px;
}