.app-accountheader {

	.linkBtn {
		background 	: transparent;
		border 		: transparent;
	}

	.x-toolbar {
		margin 	: 0 auto;
		float 	: none !important;
		border 	: transparent !important;
	}

}