.app-footer {


	.x-panel#app-footer-container {
		margin 	: 0 auto;
		float 	: none !important;
		padding-bottom : 10px;
		border-bottom : 1px solid #cecece;
	}

	#app-footer-container-copyright {
		margin 	: 0 auto;
		float 	: none !important;
		border 	: transparent !important;
	}

	.shareBtn {
		background 	: transparent;
		border 		: transparent;

		.x-btn-inner-default-small {
			color 	: black !important;
		}
	}

	.shareBtn.x-btn-over {
		background 	: transparent;
		border 		: transparent;
	}

}